.sidebar {
    width: 24%;
    float: left;
    position:relative;
    background-color: black;
    min-height: 100vh;
}

.battleLog {
    width: 72%;
    float: right;
    position:relative;
    color: white;
    padding: .1rem;
}

.battle-page{
    background-color: #202020;
    min-height: 100%;
}
.topnav {
    background-color: darkred;
    height: 4.5rem;
    width: 100%;
    overflow: hidden;
}
.topnav h1 {
    color: white;
    margin: 0;
    padding:1rem 2rem;
    float: left;
}
.topnav img {
    float: right;
    padding: .5rem 1rem;
}
.topnav h2 {
    float: right;
    color: white;
    font-size: medium;
    padding: 1rem .2rem;
}
.sidebar {
    padding: 1.5rem;
}