@media (max-width: 380px) {
    h2 {
        font-size: medium;
    }
}

h2 {
    color: white;
    text-align: center;
}

#card-title{
    color:#fdf6f4;
    font-size: xx-large;
}
.battleLog p {
    margin: 2rem 7rem;
    color: white;
    padding: 1rem 1.5rem;
    margin: 1.2rem 2rem;
    border-radius: 28px;
}
/*TODO: each message is a .log*/
/*TODO: the showing messages is a paragraph*/
/*TODO: check user, then float text to left or right*/
.log {
    background-color: #121212;
    color: white;
    margin: 1rem 2.5rem;
    padding: 1.5rem;
    border-radius: 20px;
}
.message-card {
    background-color: #121212;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 2rem;
}

#user1{
    right: 0;
    text-align: left;
    /* width:50% */
}

#user2{ 
    text-align: right;
    /* width:50% */
}

.like-button{
    border-radius: 50%;
    width: 4em;
    height: 4em;
    float:left;
    font-size: 1em;
}