textarea{
    width: 99%;
    resize: none;
    height: 190px;
    border: 2px solid rgba(51, 8, 8, 0.973);
    border-radius: 10px;
}

textarea:hover{
    background-color: #ffc7c7;
    border-color: #d42626;
}

#battle-creator{
    
    background-color:rgb(36, 36, 36)
}

#add-battle{
    width: 100%;
    color:#fdf6f4;
    text-align: center;
}