.card-body {
    margin: .2rem;
}
.card-body h5 {
    font-size: large;
    margin: 0.5rem;
}
.card-body h6 {
    font-size: medium;
    margin: 0;
}
.card-text {
    margin: .7rem 0 0 0;
}
.card-body {
    padding: 1rem;
}
.list-group-item {
    color: white;
    padding: .5rem 1rem;
}
.battle-creator-list-group {
    margin: 2rem;
}
.form-group {
    padding: .1rem;
    margin: 2rem.15rem;
    margin-top: 0;
}
.form-group label {
    float: left;
    width: 100%;
}
.form-group input {
    float: right;
}
.form-group .form-control {
    float: right;
    margin: .3rem;
    width: 90%;
}
button {
    width: 100%;
    padding: .5rem;
    border-radius: 6px;
    border: none;
    background-color: darkred;
    margin: 1rem 0;
    color: black;
}
button:hover {
    background-color: red;
}
button:active {
    background-color: white;
}
.no-active {
    background: darkred;
    color: white;
}