@media (min-width: 1600px) {

}

.sidebar {
    z-index: -1;
    width: 20%;
    float: left;
    position:relative;
    background-color: black;
    height: 90%;
    top: 0;
    bottom: 10rem;
    position: fixed;
    overflow-y: scroll;
}

.battleLog {
    width: 72%;
    float: right;
    position:relative;
    color: white;
    padding: .1rem;
    margin: 1rem 2.5rem;
}

.battle-page{
    background-color: #202020;
    min-height: 100%;
}
.topnav {
    background-color: darkred;
    height: 4.5rem;
    width: 100%;
    overflow: hidden;
}
.topnav h1 {
    color: white;
    margin: 0;
    padding:1rem 2rem;
    float: left;
}
.topnav img {
    float: right;
    padding: .5rem 1rem;
}
.topnav h2 {
    float: right;
    color: white;
    font-size: medium;
    padding: 1rem .2rem;
}
.sidebar {
    padding: 5rem 1.5rem 3rem 1.5rem;
}
::-webkit-scrollbar {
    width: .5rem;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: #121212;
}