.div input{
  align-self: center;
  width: 60%;
  margin: 0 6rem;
  padding: 2rem 10rem;
}
div[type=text], select {
  border: 1px solid #993232;
  box-sizing: border-box;
}
div[type=text]:hover {
  background-color: #ffc7c7;
  border-color: #d42626;
}
.message button {
  width: 10rem;
  background-color: darkred;
}
.message button:hover {
  background-color: red;
}